.revew-items img{
    width: 91px;
    height: 91px;
    margin-right: 17px;
}
.revew-items{
        display: flex;
        border: 1px solid #95A0A7;
        margin-left: 141px;
        width: 571px;
        padding: 8px;
        margin-top: 21px;
        border-radius: 8px;
}

.revew-details-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.product-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
}
.revew-details p{
    margin: 0;
}
.special{
    color: orange;
}


/* delate button style  */


.delate-button{
    background-color: rgba(235, 87, 87, 0.3);
    border: none;
    border-radius: 50%;
}
.delate-button:hover{
    background-color: rgba(235, 87, 87, 0.7);
    cursor: pointer;
}

.delate-icon{
    color: #EB5757;
    font-size: 41px;
    padding: 10px;
}